body {background-color: #faeeea; color: #a54027}

a:link {color: #774F38}

h1, h2, h3, h4, h5, h6 {color: #774F38 }

nav a {color: #774F38; background-color:#ECE5CE ; padding: 10px; margin-bottom: 30px;
}

nav a:hover{background-color: #ECE5CE; }

.row1, .row2 {display:flex; background-color: whitesmoke;border-radius: 20px; padding: 20px; height: fit-content; WIDTH:fit-content }
.address, .links { display: flex; flex: 1;justify-content: space-around;}
.quote {float: right; }

.clear {clear:both;}

.links {float:right;}
.form, .map { display: flex; flex: 1;justify-content: space-around; padding: 30px;}

.classes {display: flex; justify-content: center;}
.skillsrow1 {display:flex; flex-direction: row; flex:75%; justify-content: space-around;}
.otherskills {display:flex;flex:25% ;background-color: whitesmoke ;border-radius: 25px; padding: 20px; height: fit-content;width:fit-content ; margin-left: 40px}
.flexbox2 {display:flex; margin: 30px; flex-wrap:wrap}
.text {padding-right: 30px;padding-left: 50px}
.banner {max-width: 100%}
.row2 {flex-wrap:wrap ;}



@media only screen and (max-width: 600px) {nav a{display: block; min-width: 100%; }}

@media only screen and (max-width: 600px) {span{display:none}}
.skip {background-color: #ffbf00; padding: 5px; border: 1px solid #000000 ;text-decoration: none;
    position:absolute; /*positioin element relative tp top left of viewport*/ 
    top: 10px; left: -999px; /*posh it off the left side */}