body {background-color: #ECE5CE; color: #E08E79}

a:link {color: #774F38}

h1, h2, h3, h4, h5, h6 {color: #774F38 }

nav a {color: #774F38; background-color:#E08E79 ; padding: 10px; margin-bottom: 30px;
}

nav a:hover{background-color: #ECE5CE; }